
.latest-title h6{
    color: black;
    font-weight: bold;
   font-size: 1rem;
}

.latest{
    margin-top: 50px;
}


.latest .card{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all 0.5s ease 0s;

}

.latest .card:hover{
    overflow: hidden;
  transform: scale(1.08);
  border: 1px solid #45817d;

}